@font-face {
    font-family: font1;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

body, html {
    height: 100%;
    margin: 0 auto;
    font-family: font1;
  }
.main{
  background-image: url(/images/wallpapersden.com_low-poly-mountains_2560x1440.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub{
  background-color:hsla(0,0%,100%,.8);
  height: fit-content;
  width: 70%;
}
.forflex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pup{
  padding-top: 20px !important;
  padding-bottom: 20px;
  /* display: flex; */
  text-align: left;
}
.lex{
  display: flex;
  justify-content: end;
}
#signout{
  color: white;
  padding-top: 7px ;
  padding-left : 10px ;
  padding-bottom:7px ;
  padding-right:10px ;
  background-color: #df8696;
  border: 2px solid #df8696;
}
#signout:focus{
  border: 2px solid #ffff;
  background-color: #d19ba5;

}





@media only screen and (max-width: 830px) {
  .pup{
    padding-top: 8px !important;
    padding-bottom: 8px;
    /* display: flex; */
    text-align: left;
    font-size: 12px;
  }
  
}


@media only screen and (max-width: 450px) {
  .pup{
    padding-top: 8px !important;
    padding-bottom: 8px;
    /* display: flex; */
    text-align: left;
    font-size: 9px;
  }
}